<form>
  <div class="form-group">
    <label for="nama">Nama</label>
    <input
      id="nama"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="alamat">Alamat</label>
    <input
      id="alamat"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="tanggallahir">Tanggal Lahir</label>
    <input
      id="tanggallahir"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="jeniskelamin">Jenis Kelamain</label>
    <input
      id="jeniskelamin"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="notelp">No.Telepon</label>
    <input
      id="notelp"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="username">username</label>
    <input
      id="username"
      type="text"
      class="form-control">
  </div>
 
</form>